@import "tailwindcss";

@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

html {
  scroll-behavior: smooth;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  @apply font-semibold transition-colors duration-300 cursor-pointer;
}

.glass-card {
  @apply bg-slate-200/60 dark:bg-slate-800/60 backdrop-blur-md;
}

/* Keyframes */
@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.patrius-text {
  display: inline-block;
  color: inherit;
  -webkit-text-fill-color: inherit;
  transition: color .25s ease;
}

.group:hover .patrius-text {
  background: linear-gradient(
    110deg,
    #4b5563 0%,
    #9ca3af 25%,
    #f9fafb 50%,
    #9ca3af 75%, 
    #4b5563 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

.hero-metallic {
  display: inline-block;
  background: linear-gradient(
    110deg,
    #292f36 0%,
    #4a4e55 25%,
    #dddedf 50%,
    #4a4e55 75%,
    #292f36 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite;
}

.dark .hero-metallic {
  background: linear-gradient(
    110deg,
    #f3f4f6 0%,
    #d1d5db 25%,
    #9ca3af 50%,
    #e5e7eb 75%,
    #f3f4f6 100%
  );
}

.group\/card-grid:hover .card:not(:hover) .card-background,
.group\/card-grid:hover .card:not(:hover) .card-category {
  filter: brightness(0.8) contrast(1.2) blur(4px);
  transition: all 0.5s ease;
}

.group\/card-grid:hover .card:not(:hover){
  transform: scale(0.95) translateZ(0);
  transition: all 0.5s ease; 
}

.card:hover .card-background {
  transform: scale(1.15) translateZ(0);
}
